/* custom stylesheet */
@import 'variables';
@import 'about';
@import 'careers';
@import 'key-personnel';
@import 'testimonials';

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #333333;
}

strong{
	font-weight: 700;
}

.row{
	max-width: 990px;
	padding-left: 30px;
	padding-right: 30px;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: $orange;
	line-height: 1.7rem;
	margin-bottom: 0px;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 16px;
}

h3{
	font-style: 14px!important;
}

h4{
	font-size: 12px;
}

h5{
	font-style: 10px;
}

.subheading1{
	margin-bottom: 30px;
}

p{
	color: $charcoal;
	line-height: 1.35rem;
	font-size: 12px;
}

.pHeading{
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
}

a{
	font-family: 'Montserrat', sans-serif;	
}
#pageContainer{
  background-color: #FFFFFF;
  padding: 0 ;
  z-index: -100;
}
/* top header */

#topHeader{
	background-color: $orange;
	text-align: right;

	h6{
		font-size: 12px;
		display: inline-block;
		padding-left: 10px;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;

		a{
			color: $grey;
		}

		a[target="phone"] {
			display:inline-block;
			line-height: 20px; /* check your icon height */
			background:url(img/phone-icon-grey.png)  center left no-repeat;
			padding-left: 20px;
		} 

		a[target="email"] {
			display:inline-block;
			line-height: 10px; /* check your icon height */
			background:url(img/email-icon-grey.png)  center left no-repeat;
			padding-left: 20px;
		} 
	}
}

/* header */
header{
  	padding: 0 !important;
  	margin: 0 !important;

  	#navigationContainer{
	  h1{
		display: inline-block;
	  }
	  nav{
		background-color: transparent;
		min-height: 70px;

		display: inline-block;
		position: relative;
		top:30px;
		width: 70%;
		float:right;
		height:78px;

		ul li{
		  background: none;
		  padding-left: 20px;

		  a{
			font-family: 'Montserrat', sans-serif;
			color: $grey;
			text-transform: uppercase;
			padding: 0px;

			&:hover{
			  color: $orange;
			}
		  }
		}

		li.home-menu{
		  background-image: url(img/home-icon.png);
		  background-position: center;
		  background-repeat: no-repeat;
		  display: block;
		  text-indent: -10000px;

		  &:hover{
			background-image: url(img/home-icon-hover.png);
		  }
		}
		li:not(.has-form) a:not(.button){
		  background: none;
		}

		li.active:not(.has-form) a:not(.button){
		  color: $orange;
		  background-image: url(img/chevron-orange.png);
		  background-repeat: no-repeat;
		  background-position: left;
		  padding-right: 20px;

		  &:hover{
			background-color: transparent;
		  }
		}

		.dropdown{
		  top:55px;

		  li.active:not(.has-form) a:not(.button){
			background-image: none;
		  }

		}
	  }
	}

	.name{
		width: 200px;
	}

	.logo{
	display: block;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	height: 48px;
	width: 200px;
	text-indent: -100000px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

}

/* page Header */

.pageHeader{
	padding: 0 !important;
	margin: 0 !important;
	height: 170px;
	background-color: $orange;
	padding-top: 35px !important;

	img{
		top: -50px!important;
	}

	.flag{
		height: 100px;
		background-color: rgba(131,14,3,0.70);
		vertical-align: middle;

		h1{
			font-size: 48px;
			color: #ffffff;
			padding-top: 35px;
		}
	}
}

/* Footer */

footer{
	background-image: url(img/careers.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;

	.large-3{
		padding: 0px;
	}

	a:hover{
		background-color: $orange;
	}

	.classicGroup{
		display: block;
		background-image: url(img/classic-group-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
		text-indent: -10000px;
		height: 120px;
		border-right: 2px solid #fff;
	}

	.classicBuilders{
		display: block;
		background-image: url(img/classic-builders-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30%;
		text-indent: -10000px;
		height: 120px;
		border-right: 2px solid #fff;
	}

	.cbcContruction{
		display: block;
		background-image: url(img/cbc-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
		text-indent: -10000px;
		height: 120px;
		border-right: 2px solid #fff;
	}

	.classicDevelopment{
		display: block;
		background-image: url(img/classic-development.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
		text-indent: -10000px;
		height: 120px;
	}

	.footerDetails{
		background-color: #000000;
		min-width: 30px;
		border-top: 3px solid #ffffff;
		color: #ffffff;
		padding-top: 15px;
		padding-bottom: 15px;

		p{
			font-size: 10px;
			text-transform: uppercase;
			margin-bottom: 0px;
			color: #ffffff;
			line-height: 1.2rem;
		}
	}

	.copyright{
		background-color: $charcoal;
		color: #ffffff;
		text-align: right;
		padding-top: 10px;
		
		p{
			font-size: 8px;
			text-transform: uppercase;
		}
	}

	.contacts{
		padding-right: 0px;
		text-align: right;
		padding-top: 10px;


			a{	display: block;
				font-size: 11px;
				padding-left: 10px;
				color: white;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: right;
				margin-bottom: 0px;
				color: #ffffff;


				&:hover{
					color:$orange;
				}
			}

			a[target="phone"] {
				display:inline-block;
				line-height: 20px; /* check your icon height */
				background:url(img/phone-icon-white.png)  center left no-repeat;
				padding-left: 20px;
			} 

			a[target="email"] {
				display:inline-block;
				line-height: 10px; /* check your icon height */
				background:url(img/email-icon-white.png)  center left no-repeat;
				padding-left: 20px;
			} 
	}
}

.contacts{
		padding-right: 0px;
		text-align: right;


			a{	display: block;
				font-size: 11px;
				padding-left: 10px;
				color: white;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: right;
				margin-bottom: 0px;
				color: #ffffff;


				&:hover{
					color:$orange;
				}
			}

			a[target="phone"] {
				display:inline-block;
				line-height: 20px; /* check your icon height */
				background:url(img/phone-icon-white.png)  center left no-repeat;
				padding-left: 20px;
			} 

			a[target="email"] {
				display:inline-block;
				line-height: 10px; /* check your icon height */
				background:url(img/email-icon-white.png)  center left no-repeat;
				padding-left: 20px;
			} 
	}

.mainContent{
	padding-top: 60px;
	padding-bottom: 70px;

}


.button {
	background-color: #ffffff;
	border: 1px solid $orange;
	color: $orange;
	padding:7px;
	min-width: 100px;
	text-transform: uppercase;
	font-size: 12px;

	&:hover{
		background-color:$orange;
	}
}

.chevronTitle{
		background-image: url(img/chevron-black-list.png);
		background-position: left;
		background-position: 0px 5px;
		background-repeat: no-repeat;
		padding-bottom: 40px;
		padding-left: 20px;

		.pTitle{
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 0px;
		}

		.pSubtitle{
			text-transform: uppercase;
			font-size: 14px;
		}
}

.displayText{
	font-size: 27px;
	color: $orange;
	border-left: 6px solid $orange;
	padding-left: 10px;
	font-weight: 700;
	line-height: 2rem;
}






