article#careers{

	.topContent{
		margin-bottom: 30px;

		.pageImg{
			padding-bottom: 30px;

			img{
				width: 100%;

			}
		}	
	}

	h4,h5{
		margin-bottom: 0px;
	}

	.contacts{
		text-align: left;

		a{
			font-size: 1.4rem;
			color: $orange;
			margin-bottom: 7px;
		}

		a[target="phone"] {
			display:inline-block;
			line-height: 30px; /* check your icon height */
			background:url(img/phone-icon-orange.png)  center left no-repeat;
			padding-left: 40px;
		} 

		a[target="email"] {
			display:inline-block;
			line-height: 30px; /* check your icon height */
			background:url(img/email-icon-orange.png)  center left no-repeat;
			padding-left: 40px;
		} 
}



	.jobItem{
		min-height: 50px;
		border-bottom: 1px solid #cccccc;
		margin-top: 30px;

		.chevronTitle{
			background-position: 15px 5px;
			padding-left: 40px;
		}
	}	

}